html{
  background-color: #fff7e6;
}

body {
  width: 780px;
  border-radius: 20px;
  background-color: #FFFAF0;
  font-family: 'Playfair Display', Georgia, Times, serif;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  position: relative;
  border: 0.5px solid #cccccc;

}

hr{
margin-left: 50px;
margin-right: 50px;
margin-bottom: 60px;
}

header {
  padding-top: 10px;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 40px;
}

header h2, header h1 {
  padding-left: 50px;
  border-bottom: 0px;
}

img {
  border-radius: 100px;
  box-shadow: 5px 5px 5px #888888;
  position: absolute;
  right: 80px;
  top: 210px;
  transition: transform 1s, border-radius 250ms;

}

img:hover{
  transform: scale(1.4);
  border-radius: 0;
}

section {
 border-radius: 5px;
 padding-left: 50px;
 padding-right: 50px;
 margin-bottom:60px;
 }

 h1, h2 {
   font-family: 'Raleway', Helvetica, Arial, sans-serif;
   font-weight: thick;
 }

h2 {
  font-size: 13px;
  border-bottom: 0.5px solid #bbbbbb;
  padding-bottom: 3px;
}

h1 span {
  font-size: 12px;
  font-style: italic;
  padding-left: 165px
}

h2 span {
 font-size: 12px;
 font-style: italic;
}

section > h2 {
  font-size: 19px;
}

.title{
    font-style: black;
    display: block;
    margin-bottom: -10px;
    font-size: 17px;
}

#client {
  display: inline-block;
  width: 50%;
  margin-bottom: 50px;
}

#client h2{
  display: inline-block;
}
